// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(74, 119, 244, 0.658) 32%, rgb(238, 72, 244) 100%);
}